p, h1, h2, h3 {
    font-family: 'Manrope', Lato, sans-serif;
}

p {
    margin-bottom: 20px;
}

h1 {
    font-weight: 800;
}

h2 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-weight: 300;
    font-size: 16px;
}

.hidden {
    display: none;
}

a, ul, li {
    list-style: none;
    text-decoration: none;
    font-family: 'Manrope', Lato, sans-serif;
    margin: 0;
    padding: 0;
}