header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

body {
    background-color: #fafafa;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}