p, h1, h2, h3 {
  font-family: "Manrope", Lato, sans-serif;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-weight: 800;
}

h2 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-weight: 300;
  font-size: 16px;
}

.hidden {
  display: none;
}

a, ul, li {
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", Lato, sans-serif;
  margin: 0;
  padding: 0;
}

.recipe {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.recipe p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom .recipe {
  display: flex;
  flex-direction: column;
}

.recipe-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .custom .recipe {
    flex-direction: row;
  }
  .recipe-item {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .recipe-item {
    width: 33%;
  }
}
header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

body {
  background-color: #fafafa;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.welcome-div {
  height: 70vh;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 50px;
  color: white;
}